[database]
# Two simple items for SQLLite Configuration
type = sqlite
filename = nati.db

# The following are for using a MariaDB/MySQL server
# engine = mariadb
host = localhost
port = 3306
database = nati
username = your_user
password = your_pass
