[database]
# Two simple items for SQLite Configuration
type = sqlite
filename = nati.db

# The following are for using a MariaDB/MySQL server
# type = mariadb
host = localhost
port = 3306
database = nati
username = your_user
password = your_pass

[ciscoaci]
url = https://sandboxapicdc.cisco.com
host = sandboxapicdc.cisco.com
username = admin
password = password

[ciscocli]
host = sbx-nxos-mgmt.cisco.com
username = admin
password = password
